@import "tailwindcss";

@theme {
	--color-secondary: #f0f9ff;
	--color-primary: #07314a;
	--color-primary-900: #0a4d70;
	--color-primary-800: #055d87;
	--color-header: #0095da;
	--color-success: #218838;
	--color-danger: #c82333;
	--color-warning: #ffc107;
}

/* Definición de fuentes Roboto locales */
@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	min-height: 100dvh;
	background-color: var(--color-secondary);
}

input,
button,
textarea,
select {
	font: inherit;
}

p {
	text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

:root {
	font-family: Roboto, sans-serif, system-ui;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
